.html-css-projects, .js-projects, .react-projects{
    gap: 2rem;
}

.projects-buttons{
    width: 30%;
}

.html-css-project-list, .js-project-list, .react-project-list{
    height: 90%;
    width: 70%;
}

.html-css-project-list .html-css-project, .js-project-list .js-project, .react-project-list .react-project{
    width: 100%;
    max-height: 95%;
    gap: 3rem;
    padding: 1rem 0;
    border-radius: 1rem;
    justify-content: flex-start;
    overflow-y: auto;
}

/* Estilizando o Scrool */
.html-css-project-list .html-css-project::-webkit-scrollbar, .js-project-list .js-project::-webkit-scrollbar, .react-project-list .react-project::-webkit-scrollbar{
    width: 0.8rem;
    background-color: var(--scrollbar-color);
    border-radius: 1rem;
}

.html-css-project-list .html-css-project::-webkit-scrollbar-thumb, .js-project-list .js-project::-webkit-scrollbar, .react-project-list .react-project::-webkit-scrollbar{
    background-color: var(--span-color-default);
    border-radius: 1rem;
}