/*? Languages  */
.skills .languages-skills{
    width: 100%;
    height: 40rem;
    font-size: 4rem;
}

.skills .languages-skills h2{
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
}

.skills .languages-skills li, .skills .languages-skills li a{
    font-size: 2rem;
    color: var(--span-color-default);
}

.skills .languages-skills .languages, .skills .languages-skills .library{
    width: 50%;
}

.skills .languages-skills .languages ul li, .skills .languages-skills .library ul li, .skills .soft-skills ul li{
    list-style: circle;
}

.skills .languages-skills .languages .html, .skills .languages-skills .languages .html a{
    color: var(--html-color);
}

.skills .languages-skills .languages .css, .skills .languages-skills .languages .css a{
    color: var(--css-color);
}

.skills .languages-skills .languages .js,
.skills .languages-skills .languages .js a, 
.skills .languages-skills .library ul li:hover, 
.skills .languages-skills .library ul li a:hover{
    color: var(--js-color);
}

.skills .languages-skills .languages .html:hover,
.skills .languages-skills .languages .html a:hover,
.skills .languages-skills .languages .css:hover,
.skills .languages-skills .languages .css a:hover,
.skills .languages-skills .languages .js:hover,
.skills .languages-skills .languages .js a:hover{
    color: var(--whatsapp-color);
}

/*? Soft Skills  */
.skills .soft-skills{
    width: 100%;
    height: 40rem;
    padding: 1rem 2rem;
}

.skills .soft-skills h2{
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
}

.skills .soft-skills li{
    color: var(--span-color-default);
    font-size: 2rem;
}

.skills .soft-skills li:nth-child(n+1):nth-child(-n+5){
    margin-bottom: 1rem;
}