/*? Soft Skills  */
.skills .soft-skills{
    width: 50%;
    height: 40rem;
    padding: 1rem 2rem;
}

.skills .soft-skills .blue-color{
    background-color: var(--back-span-color);
}

.skills .soft-skills h2{
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
}

.skills .soft-skills ul li{
    font-size: 2rem;
    list-style: circle;
}

.skills .soft-skills li:nth-child(n+1):nth-child(-n+5){
    margin-bottom: 1rem;
}

/*? Languages */
.skills .languages-skills{
    width: 50%;
    height: 90%;
    font-size: 4rem;
    gap: 2rem;
}

.skills .languages-skills .blue-color{
    background: none;
}

.skills .languages-skills h2{
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
}

.skills .languages-skills .languages{
    width: 100%;
    max-height: 90%;
    gap: 2rem;
    padding: 1rem 0;
    flex-wrap: wrap;
    overflow-y: auto;
}

.skills .languages-skills .languages::-webkit-scrollbar{
    width: 0.8rem;
    border-radius: 1rem;
    background-color: #00000039;
}

.skills .languages-skills .languages::-webkit-scrollbar-thumb{
    background-color: var(--span-color-default);
    border-radius: 1rem;
}

.skills .languages-skills .languages li{
    text-align: center;
    position: relative;
    height: 20rem;
    width: 20rem;
    background-color: var(--card-color);
    border-radius: 4rem;
    perspective: 1000px; 
    /* Isso dá a profundidade ao nosso item */
}

.skills .languages-skills .languages li i{
    padding-bottom: 2rem;
    font-size: 10rem;
}

.skills .languages-skills .languages .blue-color{
    color: var(--react-color);
}
/*? Cards  */
.front, .back{
    position: absolute;
    /* Isso ocultará o verso do cartão */
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 1s ease;
}

.front{
    transform: rotateY(0deg);
}

.front p{
    font-size: 2rem;
}

.back{
    transform: rotateY(180deg);
}

.back p{
    font-size: 1.8rem;
    padding: 1rem 2rem;
    color: var(--white-color);
}

.skills .languages-skills .languages li:hover .front{
    transform: rotateY(-180deg);
}

.skills .languages-skills .languages li:hover .back{
    transform: rotateY(0deg);
}

/*? color */

.skills .languages-skills .languages .html{
    color: var(--html-color);
}

.skills .languages-skills .languages .css{
    color: var(--css-color);
}

.skills .languages-skills .languages .js{
    color: var(--js-color);
}