.projects{
    gap: 10rem;
}

.projects .links-projects .link-project{
    font-size: 2.4rem;
    padding: 1rem 2rem;
    border-radius: 1.4rem;
}

.projects .links-projects .link-project:hover, .projects-buttons .btn:hover{
    cursor: pointer;
    color: var(--color-default);
    background-color: var(--header-color);
}

.projects-buttons .btn{
    font-size: 2.4rem;
    padding: 1rem 2rem;
    border-radius: 1.4rem;
    background: none;
    border: none;
}

/* Para os Projetos e suas linguagens */
.project{
    width: 55rem;
    padding: 1rem;
    gap: 2rem;
    border-radius: 4rem;
    background-color: var(--card-color);
}

.project h3{
    font-size: 2.6rem;
}

.project .image-link{
    font-size: 2rem;
}

.project .image-link img{
    width: 100%;
}

.project .github-links{
    gap: 1rem;
}

.project .github-links a{
    font-size: 1.9rem;
    padding: 0.4rem 1rem;
    border-radius: 2rem;
    color: var(--span-color-default);
}

.project .github-links a:hover{
    cursor: pointer;
    color: var(--color-default);
    background-color: var(--header-color);
}