.projects{
    gap: 10rem;
}

.projects .links-projects .link-project{
    font-size: 2.4rem;
    padding: 1rem 2rem;
    border-radius: 1.4rem;
    color: var(--span-color-default);
}

.projects .links-projects .link-project:hover, .projects-buttons .btn:hover{
    cursor: pointer;
    color: var(--color-default);
    background-color: var(--back-span-color);
}

.projects-buttons .btn{
    font-size: 2.4rem;
    padding: 1rem 2rem;
    border-radius: 1.4rem;
    background: none;
    border: none;
    color: var(--span-color-default);
}

.projects-buttons .btn:hover{
    color: var(--color-default);
}

/* Para os Projetos e suas linguagens */
.project{
    text-align: center;
    position: relative;
    height: 30rem;
    width: 40rem;
    padding: 1rem;
    gap: 2rem;
    border-radius: 4rem;
    perspective: 1000px; 
    background-color: var(--card-color);
}

.project .project-front, .project .project-back{
    position: absolute;
    /* Isso ocultará o verso do cartão */
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 1s ease;
}

.project .project-front{
    transform: rotateY(0deg);
}

.project .project-front h3{
    font-size: 2.6rem;
    color: var(--white-color);
}

.project .project-front .image-link{
    width: 85%;
}

.project .project-back{
    padding: 0 1rem;
    transform: rotateY(180deg);
}

.project .project-back p{
    font-size: 2rem;
    margin-bottom: 1.8rem;
    color: var(--white-color);
}

.project .project-back .github-links{
    gap: 1rem;
}

.project .project-back .github-links a{
    font-size: 1.9rem;
    font-weight: 600;
    padding: 0.4rem 1rem;
    border-radius: 2rem;
    color: var(--dark-color);
}

.project .project-back .github-links a:hover{
    cursor: pointer;
    color: var(--white-default);
    background-color: var(--back-span-color);
}

.project:hover .project-front{
    transform: rotateY(-180deg);
}

.project:hover .project-back{
    transform: rotateY(0deg);
}