@media(max-width: 1921px){
    main{
        height: 90rem;
    }
}

@media(max-width: 1537px){
    main{
        height: 62rem;
    }
}

@media(max-width: 1367px){
    main{
        height: 68rem;
    }
}

@media(max-width: 1326px){
    main{
        height: 56rem;
    }

    .main-card{
        height: 52rem;
        width: 110rem;
        padding: 2rem 4rem;
    }

    .background-form{
        padding: 14rem 2.5rem 0 2.5rem;
    }
}

@media(max-width: 1025px){
    main{
        height: 56rem;
    }

    .main-card{
        height: 48rem;
        width: 96rem;
        padding: 2rem;
    }

    .heading-2{
        font-size: 2.8rem;
    }

    .about .about-me .heading-2{
        font-size: 2.8rem;
        margin-bottom: 1rem;
    }

    .about .about-text p, .about .about-text p span{
        font-size: 1.9rem;
    }

    .html-css-project{
        min-height: 40rem;
        max-width: 90rem;
        gap: 1rem;
        padding: 0 2rem 0 98rem;
    }

    .background-form{
        padding: 18rem 2.5rem 0 2.5rem;
    }
}

@media(max-width: 835px){
    main{
        height: 104rem;
    }

    .main-card{
        flex-direction: column;
        height: 98rem;
        width: 76rem;
        padding: 4rem 2rem;
    }

    .about{
        gap: 5rem;
    }

    .about .about-me{
        width: 70%;
    }

    .about .about-text{
        width: 80%;
        height: 60%;
        padding: 1rem 2rem;
    }

    .about .about-text p, .about .about-text p span{
        font-size: 2.1rem;
    }

    .skills .languages-skills{
        display: flex;
        flex-direction: column;
    }

    .skills .soft-skills, .skills .languages-skills{
        height: 50%;
        width: 100%;
    }

    .heading-2{
        font-size: 2.8rem;
    }

    .skills .languages-skills .heading-2{
        margin-bottom: 1rem;
    }

    .studies{
        gap: 4rem;
    }

    .studies .academic-studies, .studies .language-studies{
        width: 100%;
        height: auto;
    }

    .html-css-projects, .js-project, .react-project{
        gap: 3rem;
    }

    .html-css-project, .js-project{
        flex-direction: column;
        height: 80rem;
        width: 80%;
        padding: 80rem 1rem 1rem 0;
        gap: 40rem;
        overflow-y: auto;
    }

    .react-project{
        flex-direction: column;
        gap: 16rem;
        height: 80rem;
        width: 80%;
        padding: 6rem 1rem 0 0;
        overflow-y: auto;
    }

    .html-css-project::-webkit-scrollbar, .js-project::-webkit-scrollbar, .react-project::-webkit-scrollbar{
        width: 0.8rem;
    }
    
    .project{
        min-height: 33%;
        min-width: 100%;
        padding: 0;
    }

    .btn{
        font-size: 2.6rem;
    }

    .main-contacts-card{
        gap: 4rem;
    }

    .background-form{
        padding: 1rem 2.5rem;
    }
}

@media (max-width: 801px){
    .header{
        padding: 0 3rem;
    }

    .header .menu-2{
        display: block;
    }

    .header nav .menu{
        display: none;
    }
    
    .header nav{
        position: absolute;
        top: 8px;
        right: 2rem;
        z-index: 1;
    }

    .header input:checked ~ label .menu-2{
        margin-left: 11rem;
    }

    .header input:checked ~ .menu{
        display: block;
        text-align: center;
        width: 17rem;
        padding: 20px;
        margin-top: 2.2rem;
        border-top-right-radius: 4rem;
        border-bottom-left-radius: 4rem;
        background-color: var(--header-color-pop);
    }

    .header input:checked ~ .menu li:nth-child(n+1):nth-child(-n+4){
        margin-bottom: 1.4rem;
    }
}

@media(max-width: 769px){
    .header input:checked ~ .menu{
        margin-right: 0.1rem;
    }

    .main-card{
        width: 71rem;
    }
}

@media(max-width: 601px){
    .header input:checked ~ .menu{
        margin-right: 0.2rem;
    }

    .main-card{
        width: 54rem;
    }

    .main-about-card{
        padding: 2rem 0;
    }

    .about{
        padding: 5rem 0 3rem 0;
    }

    .about .about-me{
        width: 75%;
    }

    .about .about-text{
        width: 90%;
    }

    .html-css-project, .js-project{
        width: 100%;
        padding: 72rem 0 0 0;
        gap: 36rem;
    }

    .react-project{
        height: 74rem;
        width: 100%;
        padding: 8rem 0 0 0;
    }

    .project .image-link{
        width: 90%;
    }
}

@media(max-width: 426px){
    .header input:checked ~ .menu{
        margin-right: 0rem;
    }

    .header nav{
        right: 0rem;
    }

    main{
        height: auto;
        margin-top: 3rem;
    }
    
    .main-card{
        width: 100%;
        border-end-start-radius: 0rem;
        border-end-end-radius: 0rem;
        box-shadow: rgba(136, 165, 191, 0.48) 0px 2px 16px 0px, var(--color-default) 0px -2px 16px 0px;
    }

    .main-about-card{
        max-height: 98rem;
    }

    .about{
        gap: 8rem;
        padding: 6rem 0 4rem 0;
    }

    .about .about-me{
        width: 90%;
        height: 40%;
    }
    
    .about .about-text{
        width: 90%;
        height: 60%;
        padding: 0;
    }

    .heading-2{
        font-size: 2.4rem;
    }
    
    .about .about-me h3, .about .about-me p{
        font-size: 1.8rem;
    }

    .about .about-me h3{
        margin-bottom: 1rem;
    }

    .about .about-text .heading-2{
        margin-bottom: 3rem;
    }
    
    .about .about-text p, .about .about-text p span{
        font-size: 1.8rem;
    }

    .main-skills-card{
        max-height: 76rem;
    }

    .skills .languages-skills{
        gap: 1rem;
    }

    .skills .languages-skills .languages{
        gap: 1rem;
    }

    .skills .languages-skills .heading-2, .skills .soft-skills .heading-2{
        margin-bottom: 2rem;
    }

    .skills .languages-skills .languages li{
        height: 18rem;
        width: 16rem;
        padding: 0 1rem;
    }

    .skills .languages-skills .languages li i{
        font-size: 6rem;
    }

    .front p{
        font-size: 1.8rem;
    }

    .back p{
        font-size: 1.6rem;
        padding: 0 1rem;
    }

    .main-studies-card{
        max-height: 90rem;
    }

    .studies{
        padding: 0;
    }

    .studies .academic-studies{
        padding: 0;
    }

    .studies .academic-studies .college, .studies .academic-studies .course{
        flex-direction: column;
    }

    .studies .academic-studies .college img, .studies .academic-studies .course img{
        width: 40%;
        margin-bottom: 3rem;
    }

    .studies .academic-studies .college .text, .studies .academic-studies .course .text{
        width: 90%;
    }

    .studies .academic-studies .college .text{
        margin-bottom: 2rem;
    }

    .project h3, .project .github-links{
        text-align: center;
    }

    .main-projects-card{
        gap: 7rem;
        max-height: 50rem;
        border-end-start-radius: 4rem;
        border-end-end-radius: 4rem;
    }

    .projects .heading-2{
        font-size: 3.4rem;
    }

    .projects .links-projects{
        flex-direction: column;
    }

    .projects .links-projects .link-project{
        font-size: 2.8rem;
    }

    .projects .links-projects .link-project:nth-child(n+1):nth-child(-n+2){
        margin-bottom: 1rem;
    }

    .main-projects-html-css-card, .main-projects-html-css-js-card, .main-projects-html-css-js-react-card{
        max-height: 80rem;
    }

    .html-css-project, .js-project{
        gap: 24rem;
        padding: 50rem 0 0 0;
    }

    .react-project{
        padding: 0;
        gap: 6rem;
    }

    .main-contacts-card{
        max-height: 80rem;
    }

    .background-form{
        padding: 17rem 1rem 1rem 1rem;
    }

    .contacts .form-contact{
        width: 90%;
    }

    .contacts .nets-contacts{
        width: 100%;
    }

    .aviso{
        font-size: 1.4rem;
        padding: 0.4rem 0 0 0.2rem;
    }

    #div-form-send h3{
        font-size: 2.6rem;
        height: 8rem;
    }
}

@media(max-width: 393px){
    .about{
        padding: 9rem 0 6rem 0;
    }

    .skills .languages-skills .heading-2{
        font-size: 2.8rem;
    }

    .skills .soft-skills{
        padding: 1rem 0;
    }

    .skills .soft-skills ul{
        width: 80%;
        padding: 0;
    }

    .skills .languages-skills .languages li{
        height: 19rem;
        width: 14rem;
    }

    .html-css-project, .js-project{
        padding: 50rem 0 0 0;
    }
    
    #div-form-send h3{
        font-size: 2.4rem;
    }
}

@media(max-width: 376px){
    .about{
        padding: 5rem 0 2rem 0;
    }

    .about .about-me .heading-2{
        font-size: 2.2rem;
        margin-bottom: 1rem;
    }
}

@media(max-width: 371px){
    .background-form{
        padding: 18rem 1rem 1rem 1rem;
    }
}

@media(max-width: 367px){
    .about{
        padding: 5rem 0 4rem 0;
    }

    .skills .languages-skills .heading-2, .skills .soft-skills .heading-2{
        font-size: 2.6rem;
    }

    .contacts .contact p, .contacts .contact p span{
        font-size: 1.9rem;
    }

    .background-form.formSend{
        height: 25rem;
    }

    #div-form-send h3{
        height: 7rem;
    }
    
    #div-form-send p{
        font-size: 1.9rem;
    }
}

@media(max-width: 362px){
    .project .github-links a{
        font-size: 1.8rem;
    }

    .btn{
        font-size: 2.4rem;
    }
}

@media(max-width: 357px){
    .about .about-me h3{
        font-size: 1.8rem;
    }

    .projects .heading-2{
        font-size: 3.2rem;
    }

    .projects .links-projects .link-project{
        font-size: 2.4rem;
    }
}

@media(max-width: 350px){
    .about{
        padding: 4rem 0 2rem 0;
    }

    .about .about-text p, .about .about-text p span{
        font-size: 1.7rem;
    }

    .skills .soft-skills ul{
        width: 100%;
        padding-left: 3rem;
    }

    .skills .languages-skills .languages li{
        height: 20rem;
        width: 20rem;
    }

    .skills .languages-skills .languages li i{
        font-size: 8rem;
    }

    .front p{
        font-size: 1.9rem;
    }

    .back p{
        font-size: 1.7rem;
    }

    .heading-2, .studies .academic-studies .college .text .heading-2 a, .studies .academic-studies .course .text .heading-2 a{
        font-size: 2rem;
    }

    .studies .academic-studies{
        margin-top: -2rem;
    }

    .studies .academic-studies .college .text li, .studies .academic-studies .course .text li, .studies .language-studies li, .studies .language-studies li span{
        font-size: 1.8rem;
    }

    .project .github-links{
        gap: 0.4rem;
    }

    .background-form .title-form h3{
        font-size: 2.6rem;
    }

    .background-form .title-form p{
        font-size: 1.8rem;
    }

    #div-form-send h3{
        font-size: 2rem;
        height: 6rem;
    }
    
    #div-form-send p{
        font-size: 1.8rem;
    }
}

@media(max-width: 345px){
    .project .github-links{
        gap: 0;
    }
}

@media(max-width: 332px){
    .about{
        padding: 4rem 0 4rem 0;
    }

    .project .github-links a{
        font-size: 1.7rem;
    }

    .btn{
        font-size: 2.2rem;
    }
}

@media(max-width: 329px){
    .about .about-me h3{
        font-size: 1.6rem;
    }
}

@media(max-width: 321px){
    .btn{
        font-size: 2rem;
    }

    .contacts .contact p, .contacts .contact p span{
        font-size: 1.89rem;
    }
}

@media(max-width: 301px){
    .heading-2{
        font-size: 1.99rem;
    }

    .studies .academic-studies{
        margin-top: -3rem;
    }

    .background-form{
        padding: 18rem 1rem 1rem 1rem;
    }

    .background-form .title-form h3{
        font-size: 2.4rem;
    }

    .contacts .contact p, .contacts .contact p span{
        font-size: 1.75rem;
    }

    #div-form-send h3{
        font-size: 1.8rem;
    }
    
    #div-form-send p{
        font-size: 1.6rem;
    }
}