@media(max-width: 1921px){
    main{
        height: 90rem;
    }
}

@media(max-width: 1537px){
    main{
        height: 62rem;
    }
}

@media(max-width: 1367px){
    main{
        height: 68rem;
    }
}

@media(max-width: 1326px){
    main{
        height: 56rem;
    }

    .main-card{
        height: 52rem;
        width: 110rem;
        padding: 2rem 4rem;
    }
}

@media(max-width: 835px){
    main{
        height: 104rem;
    }

    .main-card{
        flex-direction: column;
        height: 98rem;
        width: 76rem;
        padding: 4rem 2rem;
    }

    .about{
        gap: 5rem;
    }

    .about .about-me{
        width: 70%;
    }

    .about .about-text{
        width: 80%;
        height: 60%;
        padding: 1rem 2rem;
    }
}

@media(max-width: 769px){
    .header input:checked ~ .menu{
        margin-right: 0.1rem;
    }

    .main-card{
        width: 71rem;
    }
}

@media(max-width: 801px){
    .header{
        padding: 0 3rem;
    }
}

@media(max-width: 601px){
    .header input:checked ~ .menu{
        margin-right: 0.2rem;
    }

    .main-card{
        width: 54rem;
    }

    .about .about-me{
        width: 80%;
    }
}

@media(max-width: 426px){
    .header input:checked ~ .menu{
        margin-right: 0rem;
    }

    .header nav{
        right: 0rem;
    }

    main{
        height: 96rem;
        margin-top: 3rem;
    }
    
    .main-card{
        width: 100%;
        border-end-start-radius: 0rem;
        border-end-end-radius: 0rem;
    }

    .about{
        gap: 3rem;
    }

    .about .about-me{
        width: 90%;
    }
    
    .about .about-text{
        width: 90%;
        height: 60%;
        padding: 0;
    }

    .about .about-me h2{
        font-size: 2.4rem;
        margin-bottom: 1rem;
    }
    
    .about .about-me h3, .about .about-me p{
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .about .about-text h2{
        font-size: 2.4rem;
        margin-bottom: 3rem;
    }
    
    .about .about-text p, .about .about-text p span{
        font-size: 1.8rem;
    }
}

/* Parei de fazer o responsivo no 600px */