:root{
    --header-color: rgba(237, 207, 207, 0.8);
    
    --color-default: rgb(0, 0, 0);
    --white-color: rgb(255, 233, 224);
    --dark-color: rgb(3, 8, 68);
    --span-color-default: rgb(255, 66, 82);
    --back-span-color: rgba(237, 207, 207, 0.6);
    --error-color: rgb(255, 0, 0);
    --btn-color: rgb(255, 100, 113);
    --card-color: rgba(206, 106, 106, 0.595);
    --card-header-color: rgba(206, 106, 106, 0.84);
    --scrollbar-color: rgba(0, 0, 0, 0.224);
    
    
    --html-color: rgb(236, 131, 45);
    --css-color: rgb(88, 182, 219);
    --js-color: rgb(254, 201, 42);
    --react-color: rgb(90, 208, 255);
    
    --github-color: rgb(0, 0, 0);
    --linkedin-color: rgb(0, 161, 230);
    --instagram-color: rgb(255, 53, 87);
    --whatsapp-color: rgb(40, 207, 40);
}