.logo h1{
    color: var(--color-default);
    font-size: 3.4rem;
}

.menus .menu li .link{
    color: var(--color-default);
    font-size: 2rem;
    padding: 0.6rem 1.7rem 0.8rem 1.7rem;
}

.menus .menu li .link:hover{
    cursor: pointer;
    border-radius: 1.8rem;
    color: var(--span-color-default);
    background-color: var(--back-span-color);
}   

/* Menu para responsives */
.header .hamburguer{
    display: none;
    font-size: 2.6rem;
}

.header .hamburguer:hover{
    cursor: pointer;
}

.header .hamburguer.fa-xmark{
    font-size: 3rem;
}