.js-projects{
    gap: 2rem;
}

.js-project{
    min-height: 40rem;
    max-width: 100rem;
    gap: 1rem;
    padding: 0 2rem 0 98rem;
    border-radius: 1rem;
    overflow-x: auto;
}

/* Estilizando o Scrool */
.js-project::-webkit-scrollbar{
    height: 0.8rem;
    background-color: var(--main-color);
    border-radius: 1rem;
}

.js-project::-webkit-scrollbar-thumb{
    background-color: var(--span-color-default);
    border-radius: 1rem;
}